input[type=range] {
   -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
   width: 100%; /* Specific width is required for Firefox. */
   height: 100%;
   background: transparent; /* Otherwise white in Chrome */
}
input[type=range]:focus {
   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-webkit-slider-thumb {
   height: 34px;
   width: 1px;
   border-radius: 3px;
   background: transparent;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -4px;
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
   height: 34px;
   width: 1px;
   border-color: transparent;
   border-radius: 3px;
   background: transparent;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -4px;
}
@font-face {
   font-family: 'ComicAndy';
   src: url('../fonts/comic_andy.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}